@use "../../../styles/varibales" as v;

.app-recipe {
  height: 500px;
  &__wrapper {
    max-width: 1200px;
    margin: auto;
  }
  &__content {
    padding: 1em;
    text-align: center;
  }
  &__title {
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-family: "MonsterClubhouse";
    color: v.$primary;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em 1.6em;
    padding-top: 2em;
  }
  @media (min-width: 430px) {
    text-align: left;
    &__items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 780px) {
    &__content {
      text-align: left;
      padding: 2em;
    }
    &__title {
      margin-bottom: 0.6em;
    }
  }
}
